/* Main Logo */
.center{
    width: 100%;
    padding-top: 10px;
    text-align: center;
    }
.main-logo {
    padding-top: 110px;
}              
.main-logo img{
    width: 272px;
    height: 92px;
}
/* Search bar & Center Buttons */
.search{
    overflow: auto;
    display: inline-flex;
    position: relative;
    outline: none;
    border-radius: 24px;
    border: 1px solid #d9d9d9;
    height: 20px;
    width: 500px;
    margin: 10px;
    padding: 10px;
    }
.search:hover{
    box-shadow: 0 2px 4px 1px #d9d9d9;
    }
.search-bar{
    border:0;
    flex:1;
    font-size: 1rem;
}
.search-bar:focus{
    outline:none;
}
input[type="button"] {
    border-radius: 4px;
    background: whitesmoke;
    border: whitesmoke;
    color: #757575;
    cursor: default;
    font-size: 14px;
    font-weight: 500;
    width: 130px;
    padding: 0 12px;
    height: 36px;
    margin: 5px;
}
input[type="button"]:hover {
    background: whitesmoke;
    border: 1px solid #c6c6c6
   
}















/* Left side header links */
#left-side{
    display: inline-block;
    padding-left: 15px;
    color:black;
    text-decoration: none;
    font-size: 13px;
    font-family: arial,sans-serif;
    position: relative;
    bottom: 248px;
    right: 35px
    }
/* Right side header links */
#right-side{
    display: inline-block;
    padding-left: 15px;
    color:black;
    text-decoration: none;
    font-size: 13px;
    font-family: arial,sans-serif;
    position: relative;
    bottom: 248px;
    right: 35px
    }